input{
    margin-left: 6px;
}
input:invalid{
    border: solid 1pt red;
    background-color: darksalmon;
}
input:invalid::placeholder{
    color: red;
}

input:valid{
    border: revert;
    background-color: revert;
}

.formBtn{
    min-width: 30px;
    margin: 6px;
}
